.container-game {
  position: relative;
  width: 85%;
  cursor: pointer;
}

/* bg img */
.button-choice {
  width: 700px;
  display: block;
}

/* overlay in front of the img */
.overlay-game {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 0 25px;
}

/* icon */
/* clamp: https://developer.mozilla.org/fr/docs/Web/CSS/Reference/Values/clamp */
.icon-game {
  width: 65px;
  height: auto;
}

/* name of the game */
.name-game {
  font-family: "Chewy", system-ui;
  color: white;
  font-size: 36px;
  white-space: nowrap;
}

/* hover */
.container-game:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}

.container-game:active {
  transform: scale(0.98);
}