.bg-navbar {
  --navbar-height: 6rem;
  background-color: #f1bb23;
  border-bottom: var(--border-musicdle);
  padding: 0.3em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--navbar-height);
  z-index: 300;
}

.navbar-logo {
  width: 7em;
}

.nav-connexion {
  width: 2em;
}

nav button,
#sidebar button {
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

nav button {
  padding: 0;
}

#sidebar button {
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
}

#sidebar button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

/* ------ HAMBURGER ------- */
#hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
}

#hamburger-menu li {
  height: 0.2rem;
  width: 2rem;
  background-color: #5c4a31;
  transform-origin: center;
  line-height: 1;
  display: block;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

#hamburger-menu li:last-child {
  margin-bottom: 0;
}

/* Animate the cross */
#hamburger-menu[data-action="true"] #cross1 {
  transform: rotate(-45deg) translate(-0.6rem, 0.2rem);
}

#hamburger-menu[data-action="true"] li:nth-child(2) {
  opacity: 0;
}

#hamburger-menu[data-action="true"] #cross2 {
  transform: rotate(45deg) translate(-0.7rem, -0.2rem);
}

/* ----- SIDEBAR ----- */
#sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  right: 0;
  font-family: catalpa, sans-serif;
  font-weight: 700;
  background-color: #f1bb23;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(calc(-100% - var(--navbar-height)));
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease,
    visibility 0s linear 0.4s;
  z-index: 90;
  padding-top: 1rem;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100vh - var(--navbar-height));
}

#sidebar[data-action="true"] {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-menu li {
  border-bottom: 1px solid #310a1f;
}

.sidebar-menu li:last-child {
  border-bottom: none;
}

.sidebar-menu li.active-link {
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-menu li.active-link a {
  color: #f8f9da;
  background-color: var(--greenMusicdle);
  font-weight: 700;
}

.sidebar-menu a {
  display: block;
  padding: 1rem 1.5rem;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.sidebar-footer {
  padding: 1rem;
  background-color: #e2b63b;
  border-top: 2px solid #310a1f;
}

div.sidebar-footer#footer .logout-button {
  border: 3px solid var(--whiteMusicdle);
  background-color: var(--redMusicdle);
  color: var(--whiteMusicdle);
  font-family: catalpa, sans-serif;
  font-weight: 700;

  border-radius: var(--border-radius-musicdle);
  padding: 0.5em 1em;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;

  width: fit-content;
  margin: auto;
}
